    /* Style the header */
        header {
            background-color: #0c0c0c;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        /* Style the header links */
        header a {
            color: #fff;
            text-decoration: none;
            padding: 12px 16px;
            display: inline-block;
            font-size: 18px;
        }

        /* Style the active link */
        header a.active {
            background-color: none;
            color: #333;
        }
