   /* Scrollbar customization */
    ::-webkit-scrollbar {
      width: 10px;
    }
    
    ::-webkit-scrollbar-track {
      background-color: #0c0c0c;
    }
    
    /* Scrollbar purple change*/
    ::-webkit-scrollbar-thumb {
      background-color: #890db7;
      border-radius: 20px;
    }
