body {
  margin: 0;
  background: #000000;
  text-align: center;
}

img {
  height: 300px;
  width: auto;
}

.centered-square {
    width: 300px; /* Width of the square */
    height: 300px; /* Height of the square */
    background-color: #040404; /* Grey background */
    margin: 0 auto; /* Center horizontally */
    padding: 20px; /* Padding inside the square */
    /* Removed flexbox properties */
}

.centered-square p {
    color: white; /* Text color */
    text-align: left; /* Align text to the left */
    margin-top: 0; /* Start text from the top */
    /* Additional text styling as needed */
}

